#currentWord{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

#winCounter{
    text-align: center;

}

#wrongBank{
    text-align: center;
}
    
#guessCounter{
    text-align: center;
}

.row{
    width: 80%;
    height: 400px;
    margin: 100px auto;
    
}
.col{
    border: 2px solid navy;
    margin: 0px 5px;
}